name: YouTube Auto View Bot

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 */3 * * *'
  workflow_dispatch:

jobs:
  run_bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install System Deps
        run: |
          sudo apt update
          sudo apt install -y xvfb libxi6 libgconf-2-4 unzip curl wget
          wget -q -O google-chrome.deb https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
          sudo apt install -y ./google-chrome.deb

      - name: Run Install Script
        run: |
          chmod +x install.sh
          sudo ./install.sh

      - name: Install Python Libraries
        run: |
          pip install selenium-wire selenium==4.9.0 blinker==1.7.0

      - name: Start Bot
        run: |
          Xvfb :99 -screen 0 1920x1080x24 &
          export DISPLAY=:99
          python soulcrack.py
